.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.article__titulo {
    padding: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.article__subtitulo {
    padding: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.article__texto {
    margin: 2rem 0;
}

.article__imagem {
    width: 25%;
}